* {
    box-sizing: border-box; /* четкие размеры*/
    font-family: Roboto;
    font-style: normal;
    line-height: normal;
}

body {
    margin: 0;
    padding: 0;
}

.main {
    flex-grow: 1;
    background: linear-gradient(180.00deg, rgba(245, 245, 245, 0) 1%,rgba(245, 245, 245, 1) 100%);
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* единицы вью-порта, экрана пользователя, таким образом футер закрпелен вниз*/
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1230px; /* добавили 30px за счет padding,тогда будет ровно 1200px*/
    margin: 0px auto; /* выравниваем контейнер по центру, при сжатии экрана контенейр сжимается тж - элементы не вылезут за границу*/
    padding-left: 15px;
    padding-right: 15px;   
}

.logo {
    max-width: 100px;
}

.logo img {
    width: 100%;
}

.btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    padding: 8px 16px 8px 16px;
    outline: none;
    cursor: pointer;
}
.btn-primary {
    border-radius: 2px;
    background: rgba(24, 144, 255, 1);
    border: 1px solid rgba(24, 144, 255, 1);
    color: rgba(255, 255, 255, 1);
}   
.btn-outline {
    box-sizing: border-box;
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 2px;
    background: rgba(255, 255, 255, 1);
    color: rgba(89, 89, 89, 1);
}

.banner {
    margin-bottom: 56px;
}
.banner-item {
    background-image: url(./images/banners/banner-img.png);
    background-repeat: no-repeat;
    background-size: contain; /* cover- картинка будет растягиваться  при увеличении количества текста*/
    background-position: center right;
    padding: 68px;
    border-radius: 10px;
    background-color:rgba(255, 241, 184, 1);
}
.banner-item--title {
    color: rgba(48, 44, 52, 1);   
    font-size: 39px;
    font-weight: 700;
    max-width: 50%;
    margin-top: 0;
    margin-bottom: 15px;
}
.banner-item--subtitle {
    color: rgba(48, 44, 52, 1);
    font-size: 24px;
    font-weight: 400;
    max-width: 50%;
    margin: 0;
}

.products-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 30px;
    margin-top: 44px;
    margin-bottom: 90px;
}
.products-card {
    width: calc((100% - 48px) /3); /* ширина высчитывается - каждая карточка по ширине 100% контейнера минус отступ 24px, минус еще один отступ 24px, то есть минус48px и разделить на 3, тк у нас три карточки*/ 
    border-radius: 7px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
    background: rgba(255, 255, 255, 1);
    overflow: hidden; /* чтобы картинка обрезалась по закруглению, даже если не там где надо*/
    text-decoration: none;
}

/* ширина перестраивается, но картинки при этом не сжимаются, для этого добавляем ширину 100% самой картинке - и div, где она лежит, и самой img */
.products-card_image {
    width: 100%; 
}
.products-card_image img {
    width: 100%; /* обязательно надо добавить ширину 100% не только аттрибуту products-card_image, но еще и самому тэгу img, /* теперь картинки сжимаются при уменьшении ширины экрана*/
} 

.products-card_description {
    padding: 20px 24px 34px 24px; /* верх право низ лево*/
}
.products-card_description--row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.products-card_description--row:not(:last-child ){
    margin-bottom: 10px;
}

/* медиа-запросы внизу */ 
@media (max-width: 991px){ /* при изменении ширины экрана до 991px меняем ширину текста - растягиваем по всему баннеру*/
    .banner-item {
        background-image: none;
    }

    .banner-item--title {
         max-width: 100%;
    }

    .banner-item--subtitle {
         max-width: 100%;
    }

    .products-card { /* при уменьшении ширины экрана до 991px меняем количество карточек с 3х до 2х*/
    width: calc((100% - 24px) /2) /* ширина высчитывается - каждая карточка по ширине 100% контейнера минус отступ 24px и разделить на 2, тк у нас теперь отображаются две карточки*/ 
    }
}

@media (max-width: 768px){ /* при уменьшении ширины экрана до 561px меняем количество карточек с 2х до 1*/
    .products-card {
        width: 100% /* карточка занимает ширину 100% контейнера, тк у нас теперь отображаются одна карточка*/ 
    }
}
